extends ../layouts/default

block content

	section.banner
		img(src='../images/inner-banner.jpg')
	.section-center
		h1.section-heading Who We Are
			hr.underline
	section.container
		div
			.col-md-3.col-sm-3.col-xs-12.section-image
				img(src='../images/who-we-are.jpg', width='100%')
			
			.col-md-9.col-sm-9
				p.section-para1 ARTISAN Furnishings Pvt Ltd imports and distributes premier Wallcovering brands, and develops and markets a broad range of commercial grade quality products for the Hospitality Industry, Corporate Buildings and Residential Market manufactured by the world’s leading manufacturers located in USA,Europe and Japan. ARTISAN was established in the year 2003. Over the last 12 years, 
					|	the Artisan network expanded to other cities in India with a wide network of over 500 distributors and dealers across the country. We built a reputation for reliable service and wide product offering at an excellent price performance ratio. Wherever we do business, we take great pride in our commitment to meeting our customers’ unique demands with the utmost responsiveness, efficiency and courtesy. ARTISAN has dramatically enhanced the perception of both Vinyl and Paper Backed wallcoverings by making design the main focus.
				
				
				
				p.section-para1 The range of designs in our collections reflects current as well as future design trends. Our in-house curated collections feature hand picked designs chosen from top suppliers in Japan & the US for both the commercial as well as residential markets. Artisan provides interior solutions to architects, designers, contractors and facility managers. We continue to work with many high profile hotels, commercial buildings, restaurants, architects, designers and
					|	 high-end residential customers throughout India providing beautiful colors, modern designs and amazing textures that enhance the beauty of the interiors. We carry a wide range of durable & sustainable wallcoverings that are Fire Retardant, Eco Friendly and confirm to the highest international Building Standards and Project Specifications. ARTISAN looks forward to building a strong sustainable relationship with our customers
					
	//- .container: .jumbotron
		img(src='/images/logo.svg', width='160')
		h1 Welcome
		p This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.
		p It includes the latest versions of
			
			| <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			| and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
		hr
		
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p We have created a default Admin user for you with the email <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
		hr
		p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
