.category-details{
    text-align: center;
}
.category-details a img{
width: 250px;
height: 250px;
}

.section-header{
    margin: 35px 0;
}
.filter-heading{
    font-size: 23px;
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #c8ad7f;
    color: #c8ad7f;
    font-weight: normal;
    text-transform: capitalize;

}
.filter-list{
margin: 0 0 3em;
    padding: 0;
    list-style: none;
}
.filter-list li{
    font-size: 13px !important;
    text-transform: uppercase;
}
.error-msg{
    text-align: center;
    margin: 25% 0;
}
.collection-container{
    margin-top: 150px;
    margin-bottom: 50px;
}







*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-size:15px;
    color:#535353;
    line-height:1.7;
}



/***********Product Info >>>> Why Wall Coverings*********/



.banner{
    height:35%;
    margin:0 0 1% 0;
    }


.banner img{
    width:100%;
    height:100%;
}

.section-heading{
    text-align:center;
    font-size:38px;
    font-family:  'Open Sans', sans-serif;
    color:#222222;
    font-weight:100;
    text-transform: capitalize;
   
}
.underline{
    
    width: 29%;
    border: 1px solid #c8ad7f;
    margin-left: 36%;
}

.row-pad-marg, .container-pad-mar{
    padding:0;
    margin:0;
}
.img-att{
    border: 1px solid #ccc;
    padding: 5px;
}
.row-head{
    font-family:'Open Sans',sans-serif;
    font-size:18px;
    font-weight:normal;
    padding-left:16px;
   }
.row-para{
    font-family:'Open Sans',sans-serif;
    font-size:14px;
    font-weight:300;
    color:#535353;
    line-height:1.9;
    text-align:justify;
    padding-left:16px;
}
.row-hr{
    border-color: #d2d2d2;
}

/*******Know-more button*******/

.product-head{
    margin-left:0px;
}

.wall-head-marg{
    margin:20px 0 -10px 0;
}



.list{
     list-style-type: none;
}
.check-icon{
   text-indent: -20px;
}

.cont-pad{
    margin-bottom: 40px;
    margin-top: 85px;
}



/*******Footer Starts Here********/

.footer1{
    background-color: #3d3f3e;
    padding-top:70px;
    margin-top:10px;

}
.footer1-head{
    font-family:'Open Sans', sans-serif;
    color:#cacaca;
    font-weight:500;
    font-size:15px;
    padding:0 0 0 0;
    margin:0 0 15px 0;
}
.footer1-para{
    font-family:'Open Sans',sans-serif;
    color:#cacaca;
    padding-left:0px;
    font-size:13px;
    line-height:1.7;
    margin-bottom: 0px;
    
    
}
.footer-para-pad{
    padding:0;
}
.footer-para-address{
    font-size:14px;
    font-family:'Open Sans',sans-serif;
    color:#cacaca;
    font-weight:300;
    line-height:20px;
}
.padding{
    padding-right:15px;
}

.text-area{
    margin-top:15px;
    margin-bottom:10px;
    width:102%;
    padding:8px;
}
.button{
    background-color:#444;
    color:#fff;
    padding:10px;
    text-decoration:none;
    font-size:14px;
    border:1px solid #ddd;
    /*border-radius:3px;*/
    text-decoration:none;  
    display:block;
    width:35%;
    text-align:center;
}
a.button:hover{
    text-decoration:none;
    background-color:#C8AD7F;
    color:white;
    cursor:pointer; 
}
a.button:visited{
    color:white;
}
a.button:link{
    text-decoration:none;
    color:#fff;
}

.gap{
  padding:10px;
}
.padding-left{
    padding-left:100px;
}

.footer-social{
    margin-top:50px;
    }

.footer-social li{
     display:inline;
    }

.footer2{
    margin-top:70px;
    padding:20px 0;
    background-color:#2c2e2e;
    color:#cacaca;
    font-size:13px;
}

   .social-list{
    margin-top: 50px;
    list-style-type:none;
    color:#cacaca;
    font-weight:300;
    line-height:20px;
   }

    .social-li{
        display:inline;
    }
  
    .social-list li span.fa{    
   border-radius: 50%;
   width:45px;
   height:45px;
   background:#464646;
   text-align: center;
   line-height:45px;
   font-size: 14px;
   margin-right: 10px;
   color: #fff;
   }
 .social-list span.fa:hover{
    background-color:#C8AD7F;
    color:white;
 }

.copyright{
    font-family:'Open Sans',sans-serif;
    float:left;
    }
    .about{
    font-size:12px;
    color:#888888;
    font-family:'Open Sans',sans-serif;
    float:right;
    }
    .footer-links{
        text-decoration:none;
        color:#cacaca;
    }
    a.footer-links:hover{
        text-decoration:none;
        color:#cacaca;
    }
    a.footer-links:visited{
       
        color:#cacaca;
    }


/******Footer Ends Here*****/

/********Indexpage Starts Here********/

/*Carousel*/
.caption{
    background:rgba(0, 0, 0, 0.64);
    position:absolute;
    padding:15px 88px;
    font-size: 16px;
    line-height: 29px;
    width: 46%;
    z-index: 5;
    color:#FFF;
    bottom:20%;
    left:6%;
    /*max-width:100%;*/
}


/*Carousel ends*/

.row1-height{
    padding:90px 0;
}

.home-para{
    font-family:'Open Sans',sans-serif;
    font-size:14px;
    font-weight:300;
    color:#535353;
    line-height:1.9;
    text-align:justify;
    padding-left:16px;
    text-align:center;
}

.row-color{
    background-color: #f2f5f8;
    margin:0;
}
.col-row-padd-marg{
    padding: 0;
    margin: 0px 0px;
}
/*.row-bootstrap{
    margin-left:0px;
    margin-right:0px;   
}*/

.home-heading{
    text-align:center;
    font-size:38px;
    font-family:  'Open Sans', sans-serif;
    color:#222222;
    font-weight:100;
    /*border-bottom:3px solid #c8ad7f;*/
    padding-bottom:10px;
}

.content{
    padding:0 0 0 51px;
}
.about-heading{
    text-align: left;
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    color: #222222;
    font-weight: 100;
    /* border-bottom: 3px solid #c8ad7f; */
    padding: 50px 0 0 0;
    margin: 0 0 20px 14px;
}

    .about-para{
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #535353;
    line-height: 1.9;
    text-align: justify;
    padding: 0px;
    width:100%;
    margin-bottom: 20px;
    margin-left: 11px;
    }

.know-more-button{
    background-color: #f2f5f8;
    padding: 12px 26px;
    border-radius: 3px;
    border: 1px solid #000;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    margin-left: 11px;
}
a.know-more-button:hover{
    background-color:#C8AD7F;
    text-decoration:none;
    color:#fff;
    border-color:#C8AD7F;
}
a.know-more-button:visited{
  color:#000;
}
a.know-more-button:active{
    /*text-decoration:none;*/
    color:#fff;
}
a.know-more-button:link{
    /*color:#000;*/
    text-decoration: none;
}
.product{
    padding-top:72px;
    margin:0 0 30px 0;
}
.product-image{
    width: 100%;
}

.brands{
    text-align:center;
}
.row-about{
    padding:0 0 70px 0;
}
.row-coverings{
background-color:#ededed;
}
.row-width{
margin:0;
}
.wall-padding{
    padding:0 0 50px 0;
    margin-bottom:-10px;
}

.wall-img{
    width:170px;
    height:250px;
    padding: 12px;
}

/*******Index Page ends here******/




/************Media queries-Manu***********/

@media(min-width:1200px){
.underline{
     margin-left: 35.5%;
}



/*Index page*/
.know-more-button{
margin-top:0%;
}
.caption{
    padding: 15px 44px;
    width: 36%;
    font-size:20px;
}
/*index-page end here*/

}
@media(min-width:992px) and (max-width:1199px){

.underline{
    width: 35.5%;
    margin-left: 32%;
}

/*Index page*/

.about-heading{
    margin: -35px 0 20px 14px;
}

/*index-page end here*/

/*****why wall covering*****/
.row-head{
    padding-left:10%;
}

.row-para{
padding-left:10%;
}
/*****End-why wall covering*****/


/*Footer queries*/
.row-width{
    width:92%;
}

.button{
    width: 43%;
    }
    
    .text-area{
        width:110%;
    }
}
/*footer ends here*/




@media(max-width:991px) and (min-width:768px){
    
    .underline{    
    width: 45.5%;
    margin-left: 27%;
    }

/*Index page*/
.about-para{
        text-align: justify;
        width: 81%;
        margin-left: 46px;
}

.about-heading{
    text-align: center;
    margin-left:-50px;    
}
.know-more-button{
    margin-left:45px;
}

.home-para{
    text-align: justify;
    width: 81%;
    margin-left: 50px;
}
.why-wall-pos-grid{
        margin-left: 105px;
        padding-bottom: 30px;
}

.product-image {
    width: 55%;
    margin-left: 23%;
    padding: 20px;
}
.caption {
    padding: 14px 31px;
    width: 41%;
    font-size: 16px;
}


/*index-page end here*/

/*****why wall covering*****/
.row-head{
    padding-left:20%;
}

.row-para{
padding-left:20%;
}
/*****End-why wall covering*****/


.footer1-para {
    text-align:justify;
    width:50%;
    margin-left:25%;
}

.footer1-head {
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    font-size: 15px;
    }

.text-area{
    margin-left: 25%;
    width: 50%;
}

.button{
    width: 50%;
    margin-left: 25%;
    }

    .footer-para-address {
    text-align: justify;
    margin-left: 25%;
    }

.social-list {
    text-align: center;
}
.frame{
    text-align:center;
    margin-top:30px;
}

}


@media(max-width:767px) and (min-width:650px){

    .underline{    
    width: 46.5%;
    margin-left: 27%;
    }

  .section-heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: -10px;
  }

  /*****Index page*****/
.about-para{
        text-align: justify;
        width: 81%;
        margin-left: 46px;
}

.why-wall-pos-grid{
        margin-left: 105px;
        padding-bottom: 30px;
}

.product-image {
    width: 55%;
    margin-left: 23%;
    padding: 20px;
}

.about-heading{
    text-align: center;
    margin-left:-50px;    
}

.know-more-button{
margin-left: 47px;
}

.caption {
    padding: 11px 3px;
    width: 57%;
    font-size: 16px;
}

/*****index-page end here*****/

/*****why wall covering*****/
.img-align{
    text-align:center;
}
.row-head{
    /*text-align: center;*/
    display:none;
}
.row-para{
    padding-left:0px;
    padding-top: 10px;
}


/*****End-why wall covering*****/
.footer1-para {
    text-align:justify;
    width:50%;
    margin-left:25%;
}

.footer1-head {
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    font-size: 15px;
    }

.text-area{
    margin-left: 25%;
    width: 50%;
}

.button{
    width: 50%;
    margin-left: 25%;
    }

    .footer-para-address {
    text-align: justify;
    margin-left: 25%;
    }

.social-list {
    text-align: center;
}
.frame{
    text-align:center;
    margin-top:30px;
}
}

@media(max-width:649px) and (min-width:530px){
 
    .underline{    
    width: 46.5%;
    margin-left: 27%;
    }

  .section-heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: -10px;
  }

   /*****Index page*****/
    .about-para{
        text-align: justify;
        width: 81%;
        margin-left: 46px;
    }


    .why-wall-pos-grid{
        margin-left: 75px;
        padding-bottom: 30px;
        }

.product-image {
    width: 55%;
    margin-left: 23%;
    padding: 20px;
}


.about-heading{
    text-align: center;
    margin-left:-50px;    
}

.know-more-button{
margin-left: 47px;
}


.caption{
    padding: 0px 3px;
    width: 88%;
    font-size: 16px;
    bottom:0%;
}
.carousel-indicators{
    display:none;
}


 /*****index-page end here*****/



/*****why wall covering*****/
.img-align{
    text-align:center;
}
.row-head{
    /*text-align: center;*/
    display:none;
}
.row-para{
    padding-left:0px;
    padding-top: 10px;
}

/*****why wall ends here*****/

.footer1-para{
    text-align:justify;
    width:100%;
    line-height: 1.7;
}

.footer1-head {
   text-align:center;
   font-size: 15px;
   }

.text-area{
    width: 100%;
}

.button{
    width: 100%;
    }

.footer-para-address {
    text-align: justify;
    margin-left: 5%;
    }


    .social-list {
    text-align: center;
}

.frame{
    text-align:center;
    margin-top:30px;
}

.copyright{
    float:none;
    text-align:center;
    font-size:11px;
}
.about{
    float:none;
    text-align:center;
    font-size:11px;
}

}

@media(max-width:529px) and (min-width:480px){
 
    .underline{    
    width: 46.5%;
    margin-left: 27%;
    }

  .section-heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: -10px;
  }

   /*****Index page*****/
    .about-para{
        text-align: justify;
        width: 81%;
        margin-left: 46px;
    }


    .why-wall-pos-grid{
        margin-left: 59px;
        padding-bottom: 30px;
        }


    .product-image {
    width: 75%;
    margin-left: 12%;
    padding: 20px;
}

.about-heading{
    text-align: center;
    margin-left:-50px;    
}

.know-more-button{
margin-left: 47px;
}

.about-para {
    text-align: justify;
    width: 81%;
    margin-left: 27px;
}

.caption{
   font-size: 16px;
    left: 6%;
    width: 88%;
    padding: 0px 5px;
    bottom: 1%;
}

.carousel-indicators{
    display:none;
}
 /*****Index-page end here*****/



/*****why wall covering*****/
.img-align{
    text-align:center;
}
.row-head{
    /*text-align: center;*/
    display:none;
}
.row-para{
    padding-left:0px;
    padding-top: 10px;
}

/*****why wall ends here*****/

.footer1-para{
    text-align:justify;
    width:100%;
    line-height: 1.7;
}

.footer1-head {
   text-align:center;
   font-size: 15px;
   }

.text-area{
    width: 100%;
}

.button{
    width: 100%;
    }

.footer-para-address {
    text-align: justify;
    margin-left: 5%;
    }


    .social-list {
    text-align: center;
}

.frame{
    text-align:center;
    margin-top:30px;
}

.copyright{
    float:none;
    text-align:center;
    font-size:11px;
}
.about{
    float:none;
    text-align:center;
    font-size:11px;
}
}

@media(max-width:479px) and (min-width:375px){
 
   .underline{    
    width: 67%;
    margin-left: 16%;
    }

  .section-heading {
    text-align: center;
    font-size: 20px;
  }

/*****why wall covering*****/
.img-align{
    text-align:center;
}
.row-head{
    /*text-align: center;*/
    display:none;
}
.row-para{
    padding-left:0px;
    padding-top: 10px;
}

/*****End-why wall covering*****/

   /*****Index page*****/
    .about-para{
        text-align: justify;
        width: 81%;
        margin-left: 46px;
    }


    .why-wall-pos-grid{
        margin-left: 24px;
        padding-bottom: 0px;
        }


 .product-image {
    width: 70%;
    margin-left: 16%;
    padding: 20px;
}


.about-heading{
    text-align: center;
    margin-left:-50px;    
}

.know-more-button{
margin-left: 29px;
}

.about-para {
    text-align: justify;
    width: 81%;
    margin-left: 27px;
}
.caption{
   font-size: 16px;
    left: 6%;
    width: 88%;
    padding: 0px 5px;
    bottom: 1%;
}

.carousel-indicators{
    display:none;
}

 /*****index-page end here*****/

.footer1-para{
    text-align:justify;
    width:100%;
    line-height: 1.7;
}

.footer1-head {
   text-align:center;
   font-size: 15px;
   }

.text-area{
    width: 100%;
}

.button{
    width: 100%;
    }

.footer-para-address {
    text-align: justify;
    margin-left: 5%;
    }


    .social-list {
    text-align: center;
}

.frame{
    text-align:center;
    margin-top:30px;
}

.copyright{
    float:none;
    text-align:center;
    font-size:11px;
}
.about{
    float:none;
    text-align:center;
    font-size:11px;
}
}


@media(max-width:374px) and (min-width:320px){
.banner img{

   }
   .underline{    
    width: 73%;
    margin-left: 13%;
    }

    .section-heading {
    text-align: center;
    font-size: 22px;
    }



 /*****Index page*****/

.wall-img {
     width: 120px;
    height: 200px;
    padding: 4px;
    margin-left: 21px;
}
.product-image {
    width: 75%;
    padding: 8px;
    margin-left: 41px;
}
.about-para{
    width:79%;
}

.about-heading{
    text-align: center;
    margin-left:-50px;    
}

.caption {
    font-size: 13px;
     left: 0%; 
    width: 100%;
    padding: 0px 0px;
    bottom: 0%;
}

.carousel-indicators{
    display:none;
}


  /*****Index page ends*****/

/*****why wall covering*****/
.img-align{
    text-align:center;
}
.row-head{
    /*text-align: center;*/
    display:none;
}
.row-para{
    padding-left:0px;
    padding-top: 10px;
}

/*****End-why wall covering*****/


.footer1-para{
    text-align:justify;
    width:100%;
    line-height: 1.7;
}

.footer1-head {
   text-align:center;
   font-size: 15px;
   }

.text-area{
    width: 100%;
}

.button{
    width: 100%;
    }

.footer-para-address {
    text-align: justify;
    margin-left: 5%;
    }


    .social-list {
    text-align: center;
}

.frame{
    text-align:center;
    margin-top:30px;
    margin-left:-9px;
}

.copyright{
    float:none;
    text-align:center;
    font-size:11px;
}
.about{
    float:none;
    text-align:center;
    font-size:11px;
}
}


/** collection page*/
.pad6{
    padding-left: 35px;
}

.button2{
    background-color:#fff;
    color: black;
    padding:10px;
    text-decoration:none;
    font-size:14px;
    width: 30%;
    border:1px solid black;
   border-radius: 5px;

}
.bt{
    color: #222222;
    text-transform: capitalize;
}

.button2:hover{
    background-color: #b48537;
    color: #fff;
    border: 1px solid #b48537;
}
.section-para3{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.9;
    text-align: justify;
    margin: 20px 0;
}
.dot{
    color: #b48537;
    border-bottom: 0.2px dotted #b48537;
    margin-bottom: 30px;
}
.section-image2{
    max-width: 500px;
    border: 1px solid #ccc;
    padding: 7px;
    max-height: 400px;
    margin-top: 5px;
}

